

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background:transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("sector_Imeage/4641800.jpg");
}

.container {
    background: transparent;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.welcome-section {
    background: transparent;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
}

.welcome-section h1 {
    font-weight: bold;
    margin: 0;
}

.welcome-section p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.login-section {
    background:transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    color: white;
}

.login-section h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

.login-section form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-section input {
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.login-section a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.button {
    border-radius: 20px;
    border: 1px solid #ff4b2b;
    background-color: #ff4b2b;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

.button:active {
    transform: scale(0.95);
}

.button:focus {
    outline: none;
}

.welcome-section .button {
    background-color: transparent;
    border-color: #fff;
}

